body{
    width: 1200px;
    height: 700px;
    margin: auto;
    background-color: rgb(57, 57, 78);
    background-image: url(./images/house.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation-name: backer;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes backer {
0%   {background-color:rgb(57, 57, 78);}
25%  {background-color:rgb(51, 51, 92);}
50%  {background-color:rgb(67, 51, 86);} 
75%  {background-color:rgb(51, 51, 92);} 
100% {background-color:rgb(57, 57, 78);}
}

#errors {
    color: rgb(255, 84, 84);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 18px;
    text-align: center;
    text-shadow: 1px 4px 5px rgba(32, 31, 31, 0.25);
    line-height: 0.1em;
}

h1{
    text-align: center;
    font-family: 'Jolly Lodger';
    font-size: 60px;
    padding-top: 105px;
    color: rgb(252, 255, 205);
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
    animation-name: titles;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


@keyframes titles {
0%   {color:rgb(252, 255, 205);}
25%  {color:rgb(255, 255, 88);}
50%  {color:rgb(255, 232, 117);} 
75%  {color:rgb(255, 255, 88);} 
100% {color:rgb(252, 255, 205);}
}

h2{
    text-align: center;
    font-family: 'Grenze Gotisch';
    font-size: 21px;
    color: rgb(244, 255, 160);
    margin-top: 13px;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
}

#haunted{
    text-align: center;
    font-family: 'Grenze Gotisch';
    color: rgb(216, 31, 31);
    font-size: 40px;
    margin-bottom: 20px;
}

main {
    margin-top: 60px;
}


header{
    margin-top: -50px;
    position: relative;
}

#wood{
    padding-top: 20px;
    position: absolute;
}

#batt{
    z-index: -1;
    position: absolute;
    left: 80px;
    animation-name: bats;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bats {
0%   {bottom: 0px; opacity: 75%;}
25%  {bottom:10px; opacity: 85%;}
50%  {bottom:20px; opacity: 95%;} 
75%  {bottom:10px; opacity: 100%;} 
100% {bottom:0px; opacity: 75%;}
}

#blocker{
    display: flex;
    justify-content: center;
}

input, label {
    display: block;
}

input{
    margin-bottom: 1em;
}


input:focus {
    border: 2px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(219, 218, 218, 0.2);
}

label{
    font-family: 'Grenze';
    font-size: 16.5px;
    color: white;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
    margin-left: -5px;
}


fieldset {
    background-color: rgba(48, 45, 45, 0.7);
    border-radius: 15px;
    width: 555px;
    height: 360px;
    padding: 40px;
    margin: auto;
}


#one {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#two {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#total {
    display: flex;
    gap: 60px;
    margin-top: 38px;
}

#goe {
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: rgb(244, 254, 181);
    font-family: 'Grenze';
    font-size: 19px;
    font-weight: bold;
}

#goe:hover{
    cursor:pointer;
    background-color: rgb(248, 254, 124);
    box-shadow: 1px 2px 10px 0px rgba(255,255,255,1);

}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article {
    margin-top: 30px;
    border-radius: 15px;
    background-color: #191717;
    padding: 40px;
    width: 40.8vw;
    height: 54.2vh;
    position: absolute;
    top: 58%;
    left: 49.9%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 2px 10px 0px rgb(0, 0, 0);
    padding-bottom: 45px;

}

#storie{
    color: white;
    margin-top: 20px;
    font-family: 'Grenze';
    font-size: 17px;
    line-height: 1.6em;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
}

button{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Grenze';
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    color: red;
}
